@import '../colors.scss';

$border-radius: 0.25rem;

.bemForm {
  color: black;

  h3 {
    color: white;
  }

  &__input {
    border-radius: $border-radius;
    padding: 0.25rem 0.5rem;
  }

  &__inputGroup {
    height: 3rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  &__inputError {
    font-weight: bold;
    font-size: 0.875rem;
    color: $validation-red;
    margin-left: 0.25rem;
  }

  &__submitButton {
    background-color: $primary-green;
    width: 100%;
    border-radius: $border-radius;
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: white;

    &:hover {
      background-color: $primary-green-hover;
    }
  }
}