@mixin button {
  background-color: #e7e7e7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0px;
}

.button {
  &--default {
    @include button;
    background-color: #e7e7e7;
    color: black;
  }

  &--primary {
    @include button;
    background-color: #4CAF50;
  }

  &--secondary {
    @include button;
    background-color: #008CBA;
  }
}